.porta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #45322e;
  padding: 15px;

  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
}

.numero {
  font-size: 3rem;
}